/Build
/Sandbox

/Varlet/Source/Include/Platform/Vulkan
/Varlet/Source/Cpp/Platform/Vulkan

# Visual Studio files
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# ImGui .ini files
**imgui.ini