/Build

Programs

**/Cache/**
!**/Cache/premake5.lua

# Visual Studio files
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.vcxproj.csproj
**.vcxproj.csproj.user

# ImGui .ini files
**imgui.ini