/Build

/Varlet/Source/Include/Platform/Vulkan
/Varlet/Source/Cpp/Platform/Vulkan

# Visual Studio files
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.vcxproj.csproj
**.vcxproj.csproj.user

# ImGui .ini files
**imgui.ini